$my-color: #455a64;
@mixin breakpoint($point) {
  @if $point==laptop {
    @media (min-width: 64em) {
      @content ;
    }
  }
  @else if $point==tablet {
    @media (min-width: 50em) {
      @content ;
    }
  }
  @else if $point==phablet {
    @media (min-width: 37.5em) {
      @content ;
    }
  }
  @else if $point==mobileonly {
    @media (max-width: 37.5em) {
      @content ;
    }
  }
}

// @include breakpoint(mobileonly) {}
// @include breakpoint(phablet) {}
// @include breakpoint(tablet) {}
// @include breakpoint(laptop) {}
.div-home {
  background: rgba($color: $my-color, $alpha: .2);
  opacity: 1;
  width: 100%;
  height: 100%;
}

.tabgroup {
  padding: 50px 5%;
  @include breakpoint(tablet) {
    padding: 50px 10%;
  }
}

.viewall {
  font-size: 16px;
  text-align: right;
  margin-right: 7%;
}

.list-proj {
  margin: 40px 5%;
  @include breakpoint(tablet) {
    margin: 40px 10%;
  }
  mat-card {
    margin-bottom: 30px;
    border-radius: 10px;
    mat-card-title {
      h1 {
        font-size: 20px;
        @include breakpoint(tablet) {
          font-size: 24px;
        }
      }
    }
  }
}

.status,
.status-done {
  color: green;
  font-weight: bold;
  width: 25%;
  text-align: right;
  font-size: 14px;
}

.status-done {
  color: blue;
}

.cardtitle {
  width: 75%;
}

mat-icon {
  margin-right: 7px;
}

.card-content {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  div {
    display: flex;
  }
  @include breakpoint(mobileonly) {
    padding-left: 20px;
  }
  @include breakpoint(phablet) {
    display: flex;
  }
}

.example-loading-shade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
